@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

::selection{
    background-color: aqua;
    color: rgb(121, 33, 33);
}

body{
    background-color: gray;
}

/* Header Design */
.header nav{
    width: 100%;
    height: 6vmax;
    background-color: rgb(49, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header nav h1{
    font-size: 3vmax;
    font-weight: 600;
    color: white;
}

#name{
    color: red;
}

/* Footer Design */
.footer{
    width: 100%;
    height: 4vmax;
    background-color: rgb(49, 36, 36);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer p{
    color: white;
    font-size: 1.5vmax;
    font-weight: 500;
    padding-bottom: 0.2vmax;
}

/* Main Design */
.main{
    width: 100%;
    height: calc(100% - 10vmax);
}

.main .timer-section{
    height: calc(100% - 5vmax); 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 0.2vmax 2.5vmax;
    margin-top: 1vmax;
    margin-right: 2vmax;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 2vmax;
    font-weight: 500;
    border-radius: 10px;
    background-color: rgb(49, 36, 36);
    color: aliceblue;
    box-shadow: 5px 5px 5px white;
}

button:hover{
    color: black;
    background-color: aqua;
}

.btn-stop{
    display: none;
}

.main .timer-section input{
    border: none;
    outline: none;
    height: 3vmax;
    width: 25vmax;
    border-radius: 10px;
    text-align: center;
    font-size: 2.5vmax;
    font-weight: 600;
    background-color: gray;
    color: white;
}

.main .timer-section h1{
    color: white;
    font-size: 3vmax;
    font-weight: 400;
    margin-bottom: 0.5vmax;
}

.time-section{
    width: 100%;
    height: 5vmax;
    padding-top: 1vmax;
    color: white;
    text-align: center;
}

.time-section h1{
    font-size: 3vmax;
    font-weight: 400;
}

.time-section p{
    font-size: 2vmax;
    font-weight: 500;
}





